article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary{display:block;}
audio,
canvas,
video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{background:#fff;color:#000;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,
button,
input,
select,
textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,
a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
h2{font-size:1.5em;margin:0.83em 0;}
h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.67em;margin:2.33em 0;}
abbr[title]{border-bottom:1px dotted;}
b,
strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
p,
pre{margin:1em 0;}
code,
kbd,
pre,
samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,
q:after{content:'';content:none;}
small{font-size:80%;}
sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,
menu,
ol,
ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,
ol,
ul{padding:0 0 0 40px;}
nav ul,
nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,
input,
select,
textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,
input{line-height:normal;}
button,
select{text-transform:none;}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],
html input[disabled]{cursor:default;}
input[type="checkbox"],
input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
@charset "utf-8";body{top:0;bottom:0;left:0;right:0;margin:auto;padding:0;background:#fff;color:#333333;font-family:'Hind', sans-serif;}
div, ul, h1, h2, h3, h4, h5, li, p, img, form, input, textarea{margin:0;padding:0;}
table, tr, td{border:0;}
a{outline:none;color:#333;text-decoration:underline;}
a:hover{outline:none;color:#000;text-decoration:none;}
img{border:none;}
li{list-style:none;}
.clearall{clear:both;font-size:1px;line-height:1px;height:1px;}
.txt-lft{text-align:left;}
.txt-cnt{text-align:center;}
.txt-rgt{text-align:right;}
.container{width:1030px;margin:0 auto;padding:0;position:relative;}
.top-bar, .section-1, .section-2, .section-3, .section-4, .section-5, .section-6, .section-7, .section-8, .section-9, .footer{float:left;width:100%;min-width:1004px;}
.top-bar{background:#000;}
.top-bar p{color:#fff;font-size:16px;line-height:37px;height:37px;text-align:center;font-family:'geomanist_regularregular';}
.top-bar p span{font-family:'geomanistbold';color:#ff0000;}
.section-1{background:url(../images/sec1-bg.jpg) center top no-repeat;height:880px;position:relative;}
.top-sec{float:left;margin-top:18px;}
.sec1-logo{display:inline-block;vertical-align:top;margin:0 0 0 109px;}
.gl-book{display:inline-table;margin:-9px 0 0 4px;}
.sec1-lft-sec{float:left;width:688px;margin:-81px 0 0 0;}
.top-midsec{width:500px;text-align:center;margin:0 0 0 163px;}
.sec1-hdg-txt{margin:0px 0 0 0px;color:#000000;font-family:'Glypha LT Std';font-size:29px;text-transform:uppercase;line-height:29px;letter-spacing:-0.8px;font-weight:300;}
.sec1-hdg-txt2{color:#0b99db;font-family:'Geomanist';font-size:50px;letter-spacing:-3.5px;line-height:54px;margin:0px 0 0 0px;text-transform:uppercase;font-weight:500;}
.sec1-hdg-txt3{margin:0px 0 0 0px;color:#000;font-family:'Geomanist';font-weight:500;font-size:50px;text-transform:uppercase;line-height:47px;letter-spacing:-1px;}
.sec1-sub-hdg{float:left;margin-top:10px;padding:3px 10px;width:100%;position:relative;}
.sec1-sub-hdg p{color:#000000;float:left;font-family:'geomanist_regularregular';font-size:24px;text-align:left;text-transform:uppercase;padding:0px 0 0 183px;line-height:21px;}
.sec1-txt1{font-size:24px;text-align:left;float:left;padding:65px 0 0 280px;line-height:20px;color:#005379;font-weight:600;}
.sec1-txt2{color:#515151;font-size:18px;line-height:20px;padding:6px 0 0 280px;}
.sec1-list-item{margin:40px 0 0 208px;float:left;}
.sec1-list-item li{margin:0 0 0 0;height:61px;padding:0 0 10px 68px;line-height:29px;position:relative;}
.sec1-list-item li::before{background:url(../images/index-sprite2.png);width:60px;height:60px;position:absolute;content:"";top:0;left:0;}
.sec1-list-item li:nth-child(1)::before{background-position:0 86.467309%;}
.sec1-list-item li:nth-child(2)::before{background-position:0 89.812468%;}
.sec1-list-item li:nth-child(3)::before{background-position:0 93.157628%;}
.list-top{font-size:24px;color:#0b99db;font-family:'Geomanist';font-weight:500;margin:0px 0 3px 0;}
.list-top span{font-weight:300;font-family:'Hind', sans-serif;color:#515151;font-size:20px;}
.dot-sec{background:url(../images/last-sprite.png);background-position:0 66.581633%;height:1px;margin:0 0 0 4px;float:left;}
.sec1-list-item li:first-child .dot-sec{background:none;}
.sec1-btl{left:-218px;position:absolute;top:450px;z-index:99;}
.sec1-seal{left:144px;position:absolute;top:327px;z-index:999;}
.sec1-arrow{left:10px;position:absolute;top:687px;}
.seal{left:257px;position:absolute;top:805px;}
.frm-sec{float:left;width:455px;margin:-83px 0px 0 -140px;}
.frm-container{float:right;background-image:url(../images/index-sprite2.png);background-position:0 31.265509%;background-size:130.32967%;background-repeat:no-repeat;width:100%;height:621px;margin:0 -41px 0 0px;padding:216px 0px 0 0px;}
input[type="text"],
input[type="tel"],
input[type="email"],
select{width:57%;background:#fff;border:1px solid #c5c7d1;margin:9px 26% 0;height:35px;box-sizing:border-box;padding:0 11px;}
select{background:url(../images/select-img.png) 237px 10px no-repeat #fff;-webkit-appearance:none;-moz-appearance:none;}
.index-btn{margin:13px 0 0 40px;}
.frm-sec-logo{margin-bottom:20px;}
.section-2{background:url(../images/sec2-bg.jpg) center top no-repeat;height:975px;padding-top:20px;}
.sec2-left{width:641px;float:left;margin:47px 0 0 0;}
.sec2-txt1{float:left;padding:2px 0 0 50px;font-size:18px;line-height:24px;color:#515151;}
.sec2-txt2{float:left;padding:17px 0 0 53px;font-size:18px;line-height:18px;font-weight:600;color:#000000;}
.stars{margin:12px 0 0 5px;}
.sec2-left2{width:641px;float:left;margin:75px 0 0 0;position:relative;}
.sec2-txt3{padding:0 0 0 0;font-family:'Glypha LT Std';font-weight:100;font-size:54px;color:#000000;line-height:48px;}
.sec2-txt4{padding:0 0 0 0;font-family:'Glypha LT Std';font-weight:500;font-size:70px;color:#0b99db;line-height:60px;}
.sec2-blue-bg{background:url(../images/blu-bg.png) no-repeat left top;float:left;margin:9px 0 0 -3px;height:44px;width:555px;}
.blu-txt1{font-size:17px;color:#fff;padding:4px 0 0 46px;}
.blu-txt2{float:left;font-size:18px;line-height:24px;color:#515151;padding:19px 0 0 0;width:82%;}
.blu-txt3{color:#0b99db;font-size:24px;font-weight:600;padding:9px 0 0 0;}
.space{padding:0 0 0 0;}
.sec2-icon-list{float:left;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;height:71px;width:86%;margin:8px 0 0 0;}
.sec2-list li{margin:0 0 0 -2px;height:40px;padding:12px 5px 1px 46px;line-height:26px;width:24%;float:left;position:relative;}
.sec2-list li::before{background:url(../images/index-sprite2.png);width:45px;height:45px;position:absolute;content:"";top:10px;left:0;}
.sec2-list li:nth-child(1)::before{background-position:0 97.79338%;}
.sec2-list li:nth-child(2)::before{background-position:0 95.53437%;}
.sec2-list li:nth-child(3)::before{background-position:0 100%;}
.sec2-sky-p1{color:#515151;font-size:18px;font-weight:500;}
.sec2-sky-p1 span{color:#0b99db;text-transform:uppercase;}
.sec2-list li .sc2-listmid{background:url(../images/last-sprite.png);background-position:120px 95.588235%;}
.sec2-list li:last-child .sc2-listmid{background:none;}
.sec2-btm-round{position:absolute;left:-11px;top:539px;}
.right-list{margin:47px 0 0 193px;float:left;}
.right-list li{font-size:18px;color:#515151;font-weight:600;background:url(../images/tik.png) no-repeat left 0px;padding:0 0 1px 35px;}
.bfor-img{position:absolute;top:-269px;right:-388px;}
.sec2-prod{position:absolute;top:238px;right:-99px;}
.sec2-right{float:right;width:183px;margin:664px 0 0 0;}
.sec2-rgt-txt1{font-size:24px;color:#005379;font-weight:700;text-transform:uppercase;}
.sec2-rgt-txt2{font-size:18px;color:#515151;font-weight:500;line-height:25px;}
.strip{float:left;background:url(../images/last-sprite.png);background-position:0 0%;background-repeat:no-repeat;height:126px;width:100%;}
.strip-txt1{color:#fff;font-size:30px;font-weight:700;padding:37px 0 0 0;text-transform:uppercase;line-height:22px;float:left;}
.strip-txt2{color:#fff;font-size:16px;font-weight:600;padding:10px 0 0 0px;text-transform:uppercase;line-height:22px;float:left;}
.index-btn2{float:right;margin:-36px -5px 0 0;}
.section-3{background:url(../images/sec3-bg.jpg) center top no-repeat;height:1113px;float:left;width:100%;}
.sec3-txt1{font-size:60px;color:#000000;padding:52px 0 0 0;font-family:'Glypha LT Std';font-weight:300;text-align:center;line-height:48px;}
.sec3-txt2{font-size:58px;color:#0b99db;padding:0 0 0 0;font-family:'Glypha LT Std';font-weight:500;text-align:center;line-height:60px;}
.sec3-bg{background:url(../images/last-sprite.png);background-position:0 37.110482%;background-size:336.700337%;background-repeat:no-repeat;margin:10px auto;text-align:center;height:44px;width:594px;}
.sec3-list, .sec3-list-rgt{width:300px;float:left;margin:28px 0 0 0;}
.sec3-list-rgt{float:right;margin:28px 6px 0 0;}
.sec3-icon1{margin:0px auto 0;}
.sec3-list li{}
.sec3-list-p1{text-align:center;font-size:22px;color:#005379;text-transform:uppercase;font-weight:700;line-height:15px;padding:0 0 0 7px;}
.sec3-list-p2{text-align:center;font-size:18px;color:#515151;line-height:24px;padding:8px 0 0 0px;margin:0 0 0 0px;}
.section-4{background:url(../images/sec4-bg.jpg) center top no-repeat;height:987px;float:left;width:100%;}
.sec4-left{float:left;margin:660px 0 0 0;width:392px;position:relative;}
.sec1-seal2{left:62px;position:absolute;z-index:999;width:38%;}
.seal2-txt1{color:#fff;font-size:24px;text-transform:uppercase;font-weight:700;padding:167px 0 0 60px;}
.seal2-txt2{color:#fff;font-size:18px;padding:0px 0 0 64px;line-height:21px;}
.single-bottle{position:absolute;top:-326px;left:301px;}
.sec4-rgt{float:right;width:630px;margin:63px 0px 0 0;}
.sec4bgtxt{padding:0 0 0 79px;}
.sec4bgtxt2{margin:11px 0 0 75px;}
.btl-sec{margin:22px 0 -9px 139px;float:left;}
.btl-p1{font-size:24px;color:#04557b;text-transform:uppercase;font-weight:700;}
.btl-p2{font-size:17.99px;color:#515151;line-height:24px;padding:0 0 0 5px;}
.before-sec{float:left;background-image:url(../images/index-sprite2.png);background-position:0 0%;background-size:100%;background-repeat:no-repeat;height:201px;width:100%;margin:15px 0 0 35px;}
.before-p1{font-size:17.99px;color:#515151;line-height:24px;padding:60px 0 0 340px;width:46%;}
.section-5{background:url(../images/sec5-bg.jpg) center top no-repeat;height:776px;float:left;width:100%;padding:10px 0 0 0;}
.round-1{width:30%;float:left;margin:21px -54px 0 51px;text-align:center;}
.round-p1{color:#04557b;font-size:23.89px;text-transform:uppercase;font-weight:700;padding:15px 0 0 13px;}
.round-p2{color:#515151;font-size:17.98px;line-height:24px;padding:7px 0 0 15px;width:67%;margin:0 auto;}
.section-6{background:url(../images/sec6-bg.jpg) center top no-repeat;height:939px;float:left;width:100%;padding:10px 0 0 0;position:relative;}
.natural{position:absolute;top:94px;left:301px;}
.sec6-rght{float:right;width:633px;float:right;margin:46px 0 0 0;}
.btl-sec-6{margin:87px 0 -55px 212px;float:left;}
.section-7{background:url(../images/sec7-bg.jpg) center top no-repeat;height:938px;float:left;width:100%;padding:0px 0 0 0;position:relative;}
.sec7-txt1{font-size:17.99px;color:#515151;line-height:27px;text-align:center;}
.sec7-btl{position:absolute;top:432px;left:311px;}
.sec7-mid{float:right;width:510px;margin:104px 51px 0 0;}
.sec7-mid2{width:100%;float:left;margin:34px 0 0 11px;}
.sec7-txt2{font-size:17.99px;color:#515151;line-height:24px;padding:8px 0 0 0px;}
.section-8{background:url(../images/sec8-bg.jpg) center top no-repeat;height:1111px;float:left;width:100%;padding:0px 0 0 0;position:relative;}
.face-sec, .face-sec-rgt{float:left;width:498px;border:1px dashed #0b99db;margin:72px 0 -3px 0;border-radius:30px;background:#fff;}
.face-sec-rgt{float:right;}
.face-sec2{width:100%;background:#005379;border-radius:30px 30px 0 3px;height:84px;}
.face-1{float:left;margin:-49px 0 0 20px;}
.fc-side{float:right;margin:58px 40px 0 0;}
.sec8-txt1{font-size:17.99px;color:#515151;line-height:24px;width:86%;margin:17px auto;text-align:center;}
.skysec{width:100%;background:#eefaff;height:39px;float:left;margin:-7px 0 14px 0;border-radius:1px 1px 8px 8px;}
.star-p1{font-size:24px;color:#0b99db;font-weight:600;padding:2px 10px 0 121px;float:left;border-right:1px solid #d1d1d1;height:32px;margin:0px 0 0 0;}
.star2{float:right;margin:4px 110px 0 0;}
.section-9{background:url(../images/sec9-bg.jpg) center top no-repeat;height:724px;float:left;width:100%;padding:0px 0 0 0;position:relative;}
.sec1-btmlogo{padding:40px 0 0 263px;}
.btm-sec-text{float:left;margin:44px 0 0 289px;text-align:center;}
.index-btn-bttm{float:left;margin:25px 0 0 418px;}
.bottm-btllast{position:absolute;top:58px;left:778px;}
.seal3{left:784px;position:absolute;top:561px;}
.footer{width:100%;float:left;background:#f4f4f4;padding:22px 0px 0 0;}
.footer p{text-align:center;font-size:18px;color:#515151;}
.footer a, .footer a:hover{text-decoration:none;font-size:18px;color:#515151;text-transform:uppercase;}
.pulse{animation-duration:1.5s;animation-iteration-count:infinite;animation-name:pulse;}
@keyframes pulse{0%{opacity:0.7;transform:scale(0.9);}
50%{opacity:1;transform:scale(1);}
100%{opacity:0.7;transform:scale(0.9);}
}
@keyframes pulse{0%{opacity:0.7;transform:scale(0.95);}
50%{opacity:1;transform:scale(1);}
100%{opacity:0.7;transform:scale(0.95);}
}
.bnr-slider{float:left;width:80%;height:100%;background:url(../images/lp-arrow-in.png) no-repeat;animation:AnimationName 2s cubic-bezier(0.43, 0.61, 1, 1) infinite;position:absolute;left:30%;top:0;z-index:9;}
@-webkit-keyframes AnimationName{100%{background-position:100% 50%}
0%{background-position:0% 50%}
}
@-moz-keyframes AnimationName{100%{background-position:100% 50%}
0%{background-position:0% 50%}
}
@-o-keyframes AnimationName{100%{background-position:100% 50%}
0%{background-position:0% 50%}
}
@keyframes AnimationName{100%{background-position:100% 50%}
0%{background-position:0% 50%}
}
.sec1-arrow1, .logor, .blu-bg, .bfor-img1, .face-rw1,
.face-2, .face-3, .face-4, .gl-bookr, .sealr,
.index-btnr, .sec5-iconr3, .sec5-iconr1, .sec5-iconr2, .natural1,
.sec3-iconr1, .sec3-icon2, .sec3-icon3, .sec3-icon4, .sec3-icon5,
.sec3-icon6, .star2r, .sec1-sealr, .starsn, .fc-side1{max-width:100%;background-size:100%;background-image:url('../images/index-sprite.png');}
.sec1-arrow1{background-position:0 0%;background-size:100%;}
.logor{background-position:0 2.919321%;background-size:115.151515%;}
.blu-bg{background-position:0 4.649934%;background-size:116.606498%;}
.bfor-img1{background-position:0 6.325555%;background-size:174.123989%;}
.face-rw1{background-position:0 13.73461%;background-size:183.002833%;}
.face-2{background-position:0 18.632011%;background-size:183.002833%;}
.face-3{background-position:0 23.529412%;background-size:183.002833%;}
.face-4{background-position:0 28.426813%;background-size:183.002833%;}
.gl-bookr{background-position:0 33.49835%;background-size:192.261905%;}
.sealr{background-position:0 37.901499%;background-size:201.246106%;}
.index-btnr{background-position:0 40.330314%;background-size:235.766423%;}
.sec5-iconr3{background-position:0 45.130238%;background-size:259.437751%;}
.sec5-iconr1{background-position:0 53.680634%;background-size:260.483871%;}
.sec5-iconr2{background-position:0 62.160633%;background-size:274.893617%;}
.natural1{background-position:0 67.95535%;background-size:414.102564%;}
.sec3-iconr1{background-position:0 72.201087%;background-size:464.748201%;}
.sec3-icon2{background-position:0 76.38587%;background-size:464.748201%;}
.sec3-icon3{background-position:0 80.570652%;background-size:464.748201%;}
.sec3-icon4{background-position:0 84.755435%;background-size:464.748201%;}
.sec3-icon5{background-position:0 88.940217%;background-size:464.748201%;}
.sec3-icon6{background-position:0 93.125%;background-size:464.748201%;}
.star2r{background-position:0 94.162503%;background-size:489.393939%;}
.sec1-sealr{background-position:0 97.648013%;background-size:500.775194%;}
.starsn{background-position:0 98.449816%;background-size:598.148148%;}
.fc-side1{background-position:0 100%;background-size:1174.545455%;}
.before, .sec2-btm-roundr, .form, .buttom-btn, .single-bottler,
.icon-1, .icon-2, .icon-3, .sc2-icon2, .sc2-icon1,
.sc2-icon3{max-width:100%;background-size:100%;background-image:url('../images/index-sprite2.png');}
.before{background-position:0 0%;background-size:100%;}
.sec2-btm-roundr{background-position:0 11.033744%;background-size:103.130435%;}
.form{background-position:0 31.265509%;background-size:130.32967%;}
.buttom-btn{background-position:0 61.727133%;background-size:197.666667%;}
.single-bottler{background-position:0 79.48244%;background-size:267.117117%;}
.icon-1{background-position:0 86.467309%;background-size:972.131148%;}
.icon-2{background-position:0 89.812468%;background-size:972.131148%;}
.icon-3{background-position:0 93.157628%;background-size:972.131148%;}
.sc2-icon2{background-position:0 95.53437%;background-size:1446.341463%;}
.sc2-icon1{background-position:0 97.79338%;background-size:1482.5%;}
.sc2-icon3{background-position:0 100%;background-size:1482.5%;}
.stripr, .sec3-bgr, .auroralogo, .dotted, .lockr,
.sec7-txt2r, .sc2-round, .select-img{max-width:100%;background-size:100%;background-image:url('../images/last-sprite.png');}
.stripr{background-position:0 0%;background-size:100%;}
.sec3-bgr{background-position:0 37.110482%;background-size:336.700337%;}
.auroralogo{background-position:0 56.074766%;background-size:421.940928%;}
.dotted{background-position:0 66.581633%;background-size:632.911392%;}
.lockr{background-position:0 71.315789%;background-size:917.431193%;}
.sec7-txt2r{background-position:0 79.189189%;background-size:1526.717557%;}
.sc2-round{background-position:0 95.588235%;background-size:16666.666667%;}
.select-img{background-position:0 100%;background-size:18181.818182%;}
@font-face{font-family:'Hind';font-style:normal;font-weight:300;src:local('Hind Light'), local('Hind-Light'), url(https://fonts.gstatic.com/s/hind/v7/Rc7GRo3x-113kh9xYghjoFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');unicode-range:U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}
@font-face{font-family:'Hind';font-style:normal;font-weight:300;src:local('Hind Light'), local('Hind-Light'), url(https://fonts.gstatic.com/s/hind/v7/WWCzXbkBuuC4_xgCfWCnVVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');unicode-range:U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Hind';font-style:normal;font-weight:300;src:local('Hind Light'), local('Hind-Light'), url(https://fonts.gstatic.com/s/hind/v7/j0nw79-SK78CoHOhg6MGGwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;}
@font-face{font-family:'Hind';font-style:normal;font-weight:400;src:local('Hind Regular'), local('Hind-Regular'), url(https://fonts.gstatic.com/s/hind/v7/PweUV6zQOwbea1HTWD9UxRTbgVql8nDJpwnrE27mub0.woff2) format('woff2');unicode-range:U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}
@font-face{font-family:'Hind';font-style:normal;font-weight:400;src:local('Hind Regular'), local('Hind-Regular'), url(https://fonts.gstatic.com/s/hind/v7/_nGZcTICJK7Og5TmI2ZPqxTbgVql8nDJpwnrE27mub0.woff2) format('woff2');unicode-range:U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Hind';font-style:normal;font-weight:400;src:local('Hind Regular'), local('Hind-Regular'), url(https://fonts.gstatic.com/s/hind/v7/Pmrg92KFJKj-hq44c2dqpvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;}
@font-face{font-family:'Hind';font-style:normal;font-weight:500;src:local('Hind Medium'), local('Hind-Medium'), url(https://fonts.gstatic.com/s/hind/v7/elJJ0vN7rrHbsbleSrwHJlKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');unicode-range:U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}
@font-face{font-family:'Hind';font-style:normal;font-weight:500;src:local('Hind Medium'), local('Hind-Medium'), url(https://fonts.gstatic.com/s/hind/v7/nnS4i7BKxGmIfxNrHr-vZFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');unicode-range:U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Hind';font-style:normal;font-weight:500;src:local('Hind Medium'), local('Hind-Medium'), url(https://fonts.gstatic.com/s/hind/v7/AVPJIwmCdO7y8S0MQagSagLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;}
@font-face{font-family:'Hind';font-style:normal;font-weight:600;src:local('Hind SemiBold'), local('Hind-SemiBold'), url(https://fonts.gstatic.com/s/hind/v7/0NZnoX7lIGIQSQp3baB6aVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');unicode-range:U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}
@font-face{font-family:'Hind';font-style:normal;font-weight:600;src:local('Hind SemiBold'), local('Hind-SemiBold'), url(https://fonts.gstatic.com/s/hind/v7/urMn04ooOKClqk1j3KANyFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');unicode-range:U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Hind';font-style:normal;font-weight:600;src:local('Hind SemiBold'), local('Hind-SemiBold'), url(https://fonts.gstatic.com/s/hind/v7/PBH86v3Kf1cOLg_Efc95LgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;}
@font-face{font-family:'Hind';font-style:normal;font-weight:700;src:local('Hind Bold'), local('Hind-Bold'), url(https://fonts.gstatic.com/s/hind/v7/PKRBk08QY2sIfdtU-MXpe1KPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');unicode-range:U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}
@font-face{font-family:'Hind';font-style:normal;font-weight:700;src:local('Hind Bold'), local('Hind-Bold'), url(https://fonts.gstatic.com/s/hind/v7/VCkhynrP0938QbpS1dWBDlKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');unicode-range:U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Hind';font-style:normal;font-weight:700;src:local('Hind Bold'), local('Hind-Bold'), url(https://fonts.gstatic.com/s/hind/v7/YWN4i-sCVy4NTFbAK0yO4ALUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;}
@font-face{font-family:'geomanist_regularregular';src:url('../fnt/geomanist-regular.woff2') format('woff2');font-weight:normal;font-style:normal;}
@font-face{font-family:'geomanistbold';src:url('../fnt/geomanist-bold.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'Geomanist';src:url('../fnt/Geomanist-Medium.woff') format('woff');font-weight:500;font-style:normal;}
@font-face{font-family:'Glypha LT Std';src:url('../fnt/GlyphaLTStd-Thin.woff') format('woff');font-weight:100;font-style:normal;}
@font-face{font-family:'Glypha LT Std';src:url('../fnt/GlyphaLTStd.woff') format('woff');font-weight:500;font-style:normal;}
@font-face{font-family:'Glypha LT Std';src:url('../fnt/GlyphaLTStd-Light.woff') format('woff');font-weight:300;font-style:normal;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.hidden{display:none;}
.hideText{text-indent:100%;white-space:nowrap;overflow:hidden;}
.rounded8top{-moz-border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0;-khtml-border-radius:8px 8px 0 0;border-radius:8px 8px 0 0;}
.rounded10{-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;}
.shadow{-moz-box-shadow:0px 0px 3px 1px #ddd;-webkit-box-shadow:0px 0px 3px 1px #ddd;box-shadow:0px 0px 3px 1px #ddd;}
.spinner{width:100%;height:120px;background:url('../img/spinner.gif') center center no-repeat;}
#noticeBar{text-align:center;font-size:18px;background-color:#333;font-weight:bold;color:#ccc;padding:10px 0;}
#cvvTip{font-family:Arial, Helvetica, sans-serif;}
#cvvTip h3{font-weight:bold;font-size:12px;color:#333;}
#cvvTip p{font-size:12px;color:#333;padding:10px 0;}
.footer{text-align:center;padding:22px 0px 25px 0;}
.footer ul{margin:0;padding:0;}
.footer ul li{float:none;display:inline;margin:0;padding:0 2px;font-size:13px;color:#000;line-height:17px;}
.footer a{background:none;width:auto;height:auto;display:inline;text-transform:uppercase;font-size:18px;color:#515151;}
.footer p{text-align:center;padding:0;padding-top:5px;line-height:normal;}
.footer p:last-child{}
form .fields{}
form .fields .label{}
form .fields .input input{}
form .fields .input select{}
form .fields .input input.error{border:1px solid orange;}
form .fields .input select.error{border:1px solid orange;}
form .fields .input input.valid{border:1px solid green;}
form .fields .input select.valid{border:1px solid green;}
form .fields .spacer{height:0px;font-size:0;line-height:0;}
form .methods{}
form .cards{overflow:hidden;margin:0;padding:0;list-style:none;display:inline-block;}
form .cards li{-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;transition:all .2s;background-image:url('../images/cards-curved-32px.png');background-position:0 0;float:left;height:32px;margin-right:8px;text-indent:-9999px;width:51px}
form .cards li:last-child{margin-right:0}
form .cards .visa.off{background-position:0 32px}
form .cards .visa_electron{background-position:255px 0}
form .cards .visa_electron.off{background-position:255px 32px}
form .cards .mastercard{background-position:204px 0}
form .cards .mastercard.off{background-position:204px 32px}
form .cards .maestro{background-position:153px 0}
form .cards .maestro.off{background-position:153px 32px}
form .cards .discover{background-position:102px 0}
form .cards .discover.off{background-position:102px 32px}
form .cards .amex{background-position:51px 0}
form .cards .amex.off{background-position:51px 32px}
form .fields .input select[name=cc_year],
form .fields .input select[name=cc_month]{width:100px;}
form .fields .input input[name=cc_cvv]{width:100px;}
form .fields a.cvvTip{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#89c6ef;line-height:28px;font-style:italic;}
form .terms{padding-bottom:20px;}
form .terms .question{font-size:16px;color:#333;text-align:center;line-height:18px;}
form .terms .question input{margin-right:5px;margin-left:10px;margin-top:5px;}
form .terms .term{font-size:12px;color:#333;}
form .terms .term input{margin-right:3px;margin-left:5px;margin-top:1px;vertical-align:top;}
form .button{text-align:center;}
@-webkit-keyframes pulse{0%{-webkit-transform:scale(0.9);}
50%{-webkit-transform:scale(1);}
100%{-webkit-transform:scale(0.9);}
}
@keyframes pulse{0%{transform:scale(0.9);}
50%{transform:scale(1.0);}
100%{transform:scale(0.9);}
}
.pulse{-webkit-animation:pulse 1.2s infinite;-moz-animation:pulse 1.2s infinite;-ms-animation:pulse 1.2s infinite;animation:pulse 1.2s infinite;}
#noticeBar{display:none;padding:10px 0;}
#noticeBar .content{margin:0 auto;width:1000px;border:3px dashed red;background:#fff;text-align:center;padding:20px;}
#noticeBar h3{font-family:Arial, Helvetica, sans-serif;font-size:14px;text-align:left;line-height:1.2em;color:#000;}
#noticeBar h3 span{color:#f00;}
.left{float:none;}